.vscode/*
.vs/*
/order2Carmichael_vs/.vs/order2Carmichael/v16/ipch/AutoPCH/b09f716c3bf2a0ce/FACTORIZATION_LONG.ipch
/order2Carmichael_vs/.vs/order2Carmichael/v16/.suo
/order2Carmichael_vs/.vs/order2Carmichael/v16/Browse.VC.db-shm
/order2Carmichael_vs/.vs/order2Carmichael/v16/Browse.VC.db-wal
/order2Carmichael_vs/.vs/order2Carmichael/v16/Browse.VC.opendb
/order2Carmichael_vs/order2Carmichael.sln
/order2Carmichael_vs/order2Carmichael.vcxproj
/order2Carmichael_vs/order2Carmichael.vcxproj.filters
/order2Carmichael_vs/order2Carmichael.vcxproj.user
/order2Carmichael_vs/.vs/order2Carmichael/v16/ipch/AutoPCH/16cacf9d4f5b96bb/MAIN.ipch
/order2Carmichael_vs/.vs/order2Carmichael/v16/ipch/AutoPCH/3df05d204765cb67/PRIMALITY.ipch
/order2Carmichael_vs/Debug/order2Carmichael.tlog/CL.command.1.tlog
/order2Carmichael_vs/Debug/order2Carmichael.tlog/CL.write.1.tlog
/order2Carmichael_vs/Debug/order2Carmichael.tlog/CL.read.1.tlog
/order2Carmichael_vs/Debug/order2Carmichael.tlog/link.command.1.tlog
/order2Carmichael_vs/Debug/order2Carmichael.tlog/link.read.1.tlog
/order2Carmichael_vs/Debug/order2Carmichael.tlog/link.write.1.tlog
/order2Carmichael_vs/Debug/order2Carmichael.tlog/order2Carmichael.lastbuildstate
/order2Carmichael_vs/Debug/factorization_long.obj
/order2Carmichael_vs/Debug/main.obj
/order2Carmichael_vs/Debug/order2Carmichael.Build.CppClean.log
/order2Carmichael_vs/Debug/order2Carmichael.log
/order2Carmichael_vs/Debug/order2Carmichael.vcxproj.FileListAbsolute.txt
/order2Carmichael_vs/Debug/primality.obj
/order2Carmichael_vs/Debug/vc142.idb
/order2Carmichael_vs/Debug/vc142.pdb
/order2Carmichael_vs/order2Carmichael.exe
/order2Carmichael_vs/order2Carmichael.ilk
/order2Carmichael_vs/order2Carmichael.pdb
